/.env
/.envrc
/docker-compose*

# agents
.agents/
.claude/
.codex/

# mprocs
/mprocs.log

# nix
/result*
/.direnv/

# server
/server/build/
/server/tmp/

# client
/client/target/

# docs
/docs/node_modules/
/docs/dist/

# web
/web/node_modules/
/web/dist/
