@import "tailwindcss";
@import "@catppuccin/tailwindcss/mocha.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --spacing-header: calc(var(--spacing) * 12);
  --spacing-footer: calc(var(--spacing) * 8);
  --spacing-body: calc(100dvh - var(--spacing-header) - var(--spacing-footer));
}

:root {
  color-scheme: light;
}

:root.dark {
  color-scheme: dark;
}

body {
  color: var(--catppuccin-color-text);
  touch-action: pan-x pan-y; /* Allows scrolling but prevents pinch-zoom and double-tap zoom */
}
